<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust as needed */
    width: 100%;
    margin: 20px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .file-upload-btn-wrapper .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .file-upload-btn-wrapper .btn:hover {
    background-color: #f0f0f0;
  }

  .file-upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .file-added {
    background-color: #4caf50;
    color: green;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="button"] {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  button[type="button"]:hover {
    background-color: #45a049;
  }
    </style>
    <title>Voting Nominees</title>
  </head>
  <body>
    <div class="form">
      <h1>Nominees Form</h1>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" placeholder="First Name" required />
    
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" placeholder="Last Name" required />
    
      <label for="nickname">Nickname: (not required)</label>
      <input type="text" id="nickname" placeholder="Nickname (IG handle)" />
    
      <label for="emailAddress">Email Address:</label>
      <input type="email" id="emailAddress" placeholder="name@lmu.edu.ng" required />
    
      <label for="matricNo">Matric No:</label>
      <input type="text" id="matricNo" placeholder="10FF919212" required />
    
      <div class="file-upload-btn-wrapper">
        <button class="btn" onclick="document.getElementById('image').click()">Select Picture</button>
        <input type="file" id="image" onchange="addImage()" />
      </div>
      <br />
      <br />
    
      <select id="category" required>
        <!-- Options will be populated dynamically -->
      </select>
    
      <input type="hidden" id="associationId" value="<%= id %>" />
    
      <br />
      <br />
      <button type="button" onclick="submitForm()" id="submitButton" disabled>
        Submit
      </button>
    </div>

    <script>
      let pictureUrl;

      function fetchCategories() {
        const associationId = document.getElementById("associationId").value;
        fetch(`/api/v1/election/association/categories?assocationId=${associationId}`)
          .then((res) => res.json())
          .then((data) => {
            const categoryDropdown = document.getElementById("category");
            data.categories.rows.forEach((category) => {
              const option = document.createElement("option");
              option.value = category.id;
              option.textContent = category.category;
              categoryDropdown.appendChild(option);
            });
          })
          .catch((error) => {
            console.error("Error fetching categories:", error);
          });
      }

      window.onload = function () {
        fetchCategories();
      };

      function addImage() {
        const input = document.getElementById("image");
        window.selectedFile = input.files[0];

        if (!window.selectedFile) {
          alert("Please select an image");
          return;
        }

        const formData = new FormData();
        formData.append("file", window.selectedFile);

        fetch("/api/v1/media", {
          method: "POST",
          body: formData,
        })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            alert("Image uploaded successfully");
            pictureUrl = res.url;
            document.getElementById("submitButton").disabled = false;
            document.getElementById("image").disabled = true;
            document.querySelector(".btn").innerText = "Picture Added";
          })
          .catch((error) => {
            console.log(error);
            alert("Try again later");
          });
      }

      function submitForm() {
        const categoryId = document.getElementById("category").value;
        const lastName = document.getElementById("lastName").value;
        const nickname = document.getElementById("nickname").value;
        const firstName = document.getElementById("firstName").value;
        const emailAddress = document.getElementById("emailAddress").value;
        const matricNo = document.getElementById("matricNo").value;
        let body = {};

        if (categoryId != "") body.CategoryId = parseInt(categoryId);
        if (lastName != "") body.lastName = lastName;
        if (firstName != "") body.firstName = firstName;
        if (nickname != "") body.nickname = nickname;
        if (emailAddress != "") body.emailAddress = emailAddress;
        if (matricNo != "") body.matricNo = matricNo;

        body.pictureUrl = pictureUrl;

        fetch("/api/v1/election/nominee", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(body),
        })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.status != 200) {
              alert(res.error);
              return;
            }
            alert(res.message);
            document.getElementById("lastName").value = "";
            document.getElementById("nickname").value = "";
            document.getElementById("firstName").value = "";
            document.getElementById("emailAddress").value = "";
            document.getElementById("matricNo").value = "";
            document.getElementById("image").value = "";
            pictureUrl = "";
            document.getElementById("submitButton").disabled = true;
            document.getElementById("image").disabled = false;
            document.querySelector(".btn").innerText = "Select Picture";
          })
          .catch((error) => alert("Try again later"));
      }
    </script>
  </body>
</html>
