<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barcode Scanner</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      div {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      input {
        padding: 10px;
        margin-bottom: 10px;
        width: 80%;
        box-sizing: border-box;
      }

      button {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }

      h2 {
        color: #333;
      }

      p {
        margin: 5px 0;
        color: #555;
      }
    </style>
  </head>
  <body>
    <div>
      <input
        type="text"
        id="regNo"
        placeholder="Matric/Reg No"
        oninput="validateOnInput()"
      />
      <button type="button" onclick="validate()">Validate</button>
    </div>
    <script>
      let typingTimer;
      const doneTypingInterval = 1000; // 1 second

      function validateOnInput() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(validate, doneTypingInterval);
      }

      function createProfile(user) {
        // Create a user profile dynamically
        const userProfile = document.createElement("div");
        userProfile.innerHTML = `
          <h2>User Profile</h2>
          <p>ID: ${user.id}</p>
          <p>First Name: ${user.firstName}</p>
          <p>Last Name: ${user.lastName}</p>
          <p>Email Address: ${user.emailAddress}</p>
          <p>Matric No: ${user.matricNo}</p>
          <p>Registration No: ${user.regNo}</p>
          <p>Level: ${user.level}</p>
        `;
        document.body.appendChild(userProfile);
      }

      function clearInput() {
        document.getElementById("regNo").value = "";
      }

      function validate() {
        const regno = document.getElementById("regNo").value;

        if (regno == "") {
          alert("Regno can't be null");
          return;
        }
        fetch(`/api/v1/election/seat/validate/${regno}`, {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => res.json())
          .then((res) => {
            if (res.error) {
              alert(res.error);
              clearInput();
              return;
            }

            const user = res.seat;
            createProfile(user);
            clearInput();
          })
          .catch((error) => alert("Try Again"));
      }
    </script>
  </body>
</html>
