<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barcode Scanner</title>
    <style></style>
  </head>
  <body>
    <div>
      <input
        type="text"
        id="regNo"
        placeholder="Matric/Reg No"
        oninput="validateOnInput()"
      />
      <button type="button" onclick="validate()">Validate</button>
    </div>
    <script>
      function validateOnInput() {
        // Call the validate function when input value changes
        validate();
      }

      function validate() {
        const regno = document.getElementById("regNo").value;

        console.log(regno);

        if (regno == "") {
          alert("Regno can't be null");
          return;
        }
        fetch(`/api/v1/election/seat/validate/${regno}`, {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => res.json())
          .then((res) => {
            if (res.error) {
              alert(res.error);
              return;
            }

            console.log(res);
            alert("fine");
          })
          .catch((error) => alert("Try Again"));
      }
    </script>
  </body>
</html>
