<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #272727;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background: #333;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 3em;
            margin: 0;
            color: #FF5C5C; /* Cool red color */
        }

        p {
            font-size: 1.2em;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #FF5C5C; /* Matching button color */
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }

        a:hover {
            background-color: #FF3333; /* Darker red on hover */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Error <%= errorcode %></h1>
        <p>Oops, <%= error %>.</p>
    </div>
</body>
</html>
